*:not(h1){
    background: rgb(21,21,21);
    font-size: 14px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, HelveticaNeue-Light, "Segoe UI", "Helvetica Neue", Helvetica, Raleway, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", -apple-system, BlinkMacSystemFont, HelveticaNeue-Light, "Segoe UI", "Helvetica Neue", Helvetica, Raleway, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(240,240,240);
    word-break: break-word;
}
.principal{
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.menu_de_gauche{
    display: grid;
    height: 200px;
    grid-gap: 10px;
    justify-content: space-between;
    margin-left: 10%;
}
.link:link{
    color: white;
}
.link:hover{
    color: crimson;
}
.link:active{
    color: darkred;
}
.link:visited{
    color: dimgray;
}
.advert{
    position: absolute;
    float: bottom left;
}
.boite_de_texte{
    border-style:none;
    border-bottom-style: outset;
    border-color: crimson;
    padding: 20px;
}
.list{
    list-style-type: disc;
}