body{
    background-color: black;
    color: whitesmoke;
}
.principal{
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.menu_de_gauche{
    display: grid;
    height: 200px;
    grid-gap: 10px;
    justify-content: space-between;
    margin-left: 10%;
}
.option:link{
    color: white;
}
.option:hover{
    color: crimson;
}
.option:active{
    color: darkred;
}
.option:visited{
    color: dimgray;
}