/*Projet: Fichier CSS pour la PFI */
/*Nom: Jacen Jean */
*:not(h1){
    background: rgb(21,21,21);
    font-size: 14px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, HelveticaNeue-Light, "Segoe UI", "Helvetica Neue", Helvetica, Raleway, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", -apple-system, BlinkMacSystemFont, HelveticaNeue-Light, "Segoe UI", "Helvetica Neue", Helvetica, Raleway, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(240,240,240);
    word-break: break-word;
}
.principal{
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.menu_de_gauche{
    display: flex;
    height: 200px;
    grid-gap: 10px;
    justify-content: space-between;
    margin-left: 10%;
}
a:link{
    color: white;
}
a:hover{
    color: crimson;
}
a:active{
    color: darkred;
}
a:visited{
    color: dimgray;
}
.advert{
    position: absolute;
    float: bottom left;
}
.boite_de_texte{
    border-style:none;
    border-bottom-style: outset;
    border-color: crimson;
    padding: 20px;
}
.list{
    list-style-type: disc;
}
li:nth-child(even){
    list-style-type: square;
}
.drop_button{
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.drop_down{
    position: relative;
    display: inline-block;
}
.drop_content{
    display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.option{
    padding: 12px 16px;
    text-decoration: none;
}
.drop_down:hover .drop_content {display: block;} 
#GROS_H1{
    font-size: 10vh;
}
.boite_de_texte:nth-child(even){
    color: crimson;
}
.image{
    height:25vh;
}
@media screen and (max-height:500px){
    .image{
        display: none;
    }
}    



